
<div class="container">    
    <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4" *ngFor="let servicio of servicios">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" [src]="servicio.image" [alt]= "servicio.nombre">
                        <div class="card-body">
                            <h5 class="card-title">{{servicio.nombre}}</h5>
                            <p class="card-text">{{servicio.precio | currency}}</p>
                            <p class="card-text"><small class="text-muted">{{servicio.material}}</small></p>
                            <p class="card-text"><small class="text-muted">Cantidad de uñas con NailArt: {{servicio.nailart}}</small></p>
                            <p class="card-text"><span class="badge badge-pill badge-dark" *ngIf="servicio.stock==0">SIN STOCK</span></p>
                            <p class="card-text"><app-input-numero [(cantidad)]= "servicio.cantidad" [max]= "servicio.stock"></app-input-numero></p>
                            <p class="card-text">
                                <button type="button" class="btn btn-sm btn-block btn-light" *ngIf="servicio.stock == 0" disabled>Agregar al carrito</button>
                                <button type="button" class="btn btn-sm btn-block btn-dark" *ngIf="servicio.stock > 0" (click)= "addCarrito(servicio)" >Agregar al carrito</button>
                            </p>
                        </div>
                    </div>
                </div>
        </div>
</div>